body {
    margin: 0;
    padding: 25px;
    line-height: 1.5;
    background-color: rgb(35, 36, 36);
    color: white;
}

hr {
    height: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid rgba(115, 115, 115, 0.1);
}

div {
    margin-top: 60px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 25px;
}

i {
    color: #656565;
}

i:hover {
    color: #7e7373;
}

.title > h2 {
    margin-bottom: 60px;
}

.websites {
    position: absolute;
    right: 40px;
}

.websites > li {
    display: inline-block;
    margin: 5px;
}

.dark-mode {
    background-color: rgb(202, 202, 202);
    color: black;
}